@font-face {
    font-family: 'NexaRustSlab';
    src: url('/assets/NexaRustSlab.eot');
    src: url('/assets/NexaRustSlab.eot?#iefix') format('embedded-opentype'),
         url('/assets/NexaRustSlab.woff') format('woff'),
         url('/assets/NexaRustSlab.ttf') format('truetype'),
         url('/assets/NexaRustSlab.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}